//heart icon styling

.fa-heart{
    font-size: 1.39rem;
    position: absolute;
    cursor: pointer;
}

.heart-icon-wrapper{
    @include flexbox($direction:row);
    margin-right: 15px;
}

.heart__background{
    z-index: -1;
    background-image: $linear-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.heart__empty{
    background-color: $white;
    &--menu{
        background-color: $light-bg-clr;
    }
    &:hover{
    opacity: 0%;
    transition: 1.2s ease-in-out;
    }
}