//ANIMATION VARIABLES
$duration:2.5s;
$animation-style: ease-in-out;
$animation-type: forwards;

//MENU PAGES SLIDE UP ANIMATION

@keyframes slide-up{
  0%{
      transform: translateY(140px);
  }
  100%{
      transform: translateY(0);
  }
}


//ANIMATION MIXIN

@mixin slide($duration:2.5s){
  animation: slide-up $duration ease;
}

// MENU PAGE SLIDE ANIMATION

.menu{
  //STARTER
  &__starter{
    @include slide;
  }
  &__starter article:nth-of-type(1){
    @include slide;
  }
  &__starter article:nth-of-type(2){
    @include slide($duration:4s);
    
  }
  &__starter article:nth-of-type(3){
    @include slide($duration:6s);
    
  }
  &__starter article:nth-of-type(4){
    @include slide($duration:6.5s);
    
  }

  //MAIN COURSE
  &__main-course{
    @include slide;
  }
  &__main-course article:nth-of-type(1){
    @include slide;
  }
  &__main-course article:nth-of-type(2){
    @include slide($duration:4s);
    
  }
  &__main-course article:nth-of-type(3){
    @include slide($duration:6s);
    
  }
  //DESSERT

  &__dessert{
    @include slide;
  }
  &__dessert article:nth-of-type(1){
    @include slide;
  }
  &__dessert article:nth-of-type(2){
    @include slide($duration:4s);
    
  }
  &__dessert article:nth-of-type(3){
    @include slide($duration:6s);
    
  }
}


// SLIDE SIDE & ROTATE CHECK ANIAMTIONS

@keyframes side-slide-animation{
  from{
    margin-right: -40px;
  }
  to{
    margin-right: 0px;
  }
}

@mixin side-slide($duration){
  animation: side-slide-animation $duration ease-in;
  animation-fill-mode: $animation-type;
}



//CHECKBOX ROTATE ANIMATION

 @keyframes rotation{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
 }


 @mixin rotate($duration:2.5s, $animation-style: ease-in-out, $animation-type:forwards){
  animation: rotation $duration $animation-style $animation-type;
 }

 
  