//RESTAURANT CARDS

.card{
  width: 92%;
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  @include tablet{
    width: 33%;
  }
  &__img-wrapper{
    @include flexbox($justify: inherit, $align: flex-end);
    gap: 10px;
    height: 170px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    &--new-tag{
      @include font-500(0.875rem);
        z-index: 1;
        position: relative;
        width: 80px;
        height: 29px;
        color: $contrast-clr-txt;
        background-color: $contrast-color;
        text-align: center;
        padding: 5px;
        border-radius: 2px;
        margin-right: 15px;
    }
  }
  &__img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    &--align{
        bottom: 50px;
        height: 164px;
    }
  }
  &__label{
    padding: 15px;
    @include flexbox($direction: row, $justify:space-between);
    margin-top: -7px;
    z-index: 2;
    position: relative;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    @include desktop{
      margin-top: -25px;
    }
  }
  &__title{
    @include font-700(1.125rem);
  }
  &__subtitle{
    font-size: 1.063rem;
  }
}