//Use for solid colored buttons, icon & gradient
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$white: #FFFFFF;

//linear-gradient
$linear-gradient: linear-gradient(357deg, #9356DC -5.2%, #FF79DA 110.74%);

//Use for 'new' menu label, sliding check button & underlines in menu 
$contrast-color: #99E2D0;
$contrast-clr-txt: #008766;

//background colors & darker icons/text color
$light-bg-clr: #F6F6F6;
$dark-neutral-clr: #353535;

//Homepage only
$searchbar-bg-color: #EAEAEA;
$booking-icon-clr: #7E7E7E;
$booking-btn-hover-clr: #F5EDFF;