/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 11rem;
  margin: 0.875rem;
}

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.btn {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.btn--gradient {
  background: linear-gradient(357deg, #9356DC -5.2%, #FF79DA 110.74%);
  padding: 0.813rem 1.172rem;
  color: #FFFFFF;
  border-radius: 25px;
}

.btn--gradient:hover {
  padding: 0.9rem 1.25rem;
}
.btn--booking {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding-left: 40px;
  margin-left: -34px;
  color: #000;
}
.btn--booking:hover {
  background-color: #F5EDFF;
}
.btn--icon {
  color: #7E7E7E;
  margin-right: 22px;
  margin-left: -10px;
}

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 11rem;
  margin: 0.875rem;
}

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.btn {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.btn--gradient {
  background: linear-gradient(357deg, #9356DC -5.2%, #FF79DA 110.74%);
  padding: 0.813rem 1.172rem;
  color: #FFFFFF;
  border-radius: 25px;
}

.btn--gradient:hover {
  padding: 0.9rem 1.25rem;
}
.btn--booking {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding-left: 40px;
  margin-left: -34px;
  color: #000;
}
.btn--booking:hover {
  background-color: #F5EDFF;
}
.btn--icon {
  color: #7E7E7E;
  margin-right: 22px;
  margin-left: -10px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.75rem;
  background-color: #F6F6F6;
}
.welcome__header {
  width: 100%;
  height: 3.125rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0px 5px 6px -6px;
}
.welcome__searchbar {
  margin: 0.5rem;
  background-color: transparent;
  border: transparent;
}
.welcome__icon {
  margin: 0.5rem 0.5rem 0.5rem 2.5rem;
  color: #353535;
}
.welcome__text-wrapper {
  width: 76%;
  text-align: center;
  margin: 1.875rem;
}
.welcome__title {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 0.938rem;
}
.welcome__subtitle {
  color: #353535;
}

.welcome__searchbar:focus {
  outline-style: none;
}
.welcome__searchbar:focus::placeholder {
  color: transparent;
}

::placeholder {
  font-weight: 500;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #353535;
}

.booking {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #FFFFFF;
}
.booking__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1.25rem;
}
.booking__btn-list {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 5px;
  counter-reset: list-number;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.booking__list-item {
  width: 95%;
  max-width: 20.125rem;
  height: 72px;
  border: 1px solid #F6F6F6;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.booking__list-item::before {
  counter-increment: list-number;
  content: counter(list-number);
  margin-right: 10px;
  margin-bottom: 10px;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.875rem;
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
  position: relative;
  right: 10px;
  top: 5px;
}

.restaurants {
  background-color: #F6F6F6;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.restaurants__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1.25rem;
}
.restaurants__cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.card {
  width: 90%;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.card__img-wrapper {
  height: 180px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card__img {
  width: 100%;
  object-fit: cover;
  height: 233px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  bottom: 55px;
}

/*# sourceMappingURL=styles.css.map */
