@mixin flexbox($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin margin-lf-auto{
    margin-left: auto;
    margin-right: auto;
}

@mixin max-width-contain($width: 1150px){
    max-width: $width;
}

