//MENU LAYOUT 
%menu-layout{
     @include flexbox($align:flex-start);
        gap: 12px;
        margin: 20px auto;
        padding-bottom: 20px;
        overflow: hidden;
}

%text-ellipsis{
        overflow: hidden;
        text-overflow: ellipsis;
}