//FOOTER LAYOUT FOR ALL PAGES


.footer{
    background-color: $dark-neutral-clr;
    padding: 1.2rem;
    &__container{
        @include desktop{
            @include flexbox($direction:row-reverse, $justify: flex-start);
            gap: 60px;
            width: 100%;
            max-width: 1150px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__title{
        @include menu-page-title($size: 1.125rem);
        margin-bottom: 1rem;
        color: $white;
        @include desktop{
            margin-bottom: 0;
            margin-right: 60px;
        }
    }
}

.list{
    &__element{
       font-weight: 400;
       margin: 8px auto;
       &--icon-utensils{
        margin-right: 14px;
        font-size: 14px;
       }
       &--icon-handshake{
        margin-right: 10px;
        font-size: 12px;
       }
    }
    &__anchor{
        color: $white;
    }
    @include desktop{
        display: flex;
        gap: 60px;
    }
}