@mixin smaller-phone{
    @media screen and (max-width: 319px) {
        @content;
    }
}

@mixin phone{
   @media screen and (min-width:320px){
    @content;
   }
}

@mixin larger-phone{
    @media screen and (min-width:375px){
        @content;
    }
}

@mixin tablet{
    @media screen and (min-width:768px){
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width:1000px){
        @content;
    }
}

// MIXIN FOR MENU PAGE WIDTH & PADDING

@mixin w-pad-lg-screen{
    width: 90%;
    padding: 15px;
}

//ROOT OVERWRITE _ (MENU PAGE) FONT-SIZE FOR SMALLER SCREENS
:root.html-menu-page{
    @include smaller-phone{
    font-size: 72%;
    white-space: nowrap;
    }
    @include phone{
        font-size: 85%;
    }
}