//Restaurant menu page __ RESTAURANT DISPLAY LAYOUT

.restaurant-display{
    width: 100%;
    z-index: 0;
    &__img{
        width: 100%;
        height: 275px;
        object-fit: cover;
        margin-bottom: -5px;
    }
    @include desktop{
        @include max-width-contain(1440px);
        @include margin-lf-auto;
    }
}


//Restaurant menu page __ MENU LAYOUT
.main__menu-page{
    margin-bottom: -50px;
}
.menu{
    z-index: 1;
    position: relative;
    bottom: 50px;
    background-color: $light-bg-clr;
    border-radius: 40px 40px 0px 0px;
    padding: 30px 15px;
    white-space: nowrap;
    &__title-icon-wrapper{
        @include flexbox($direction:row, $justify:space-between);
        padding-right: 10px;
        margin-bottom: 10px;
        @include tablet{
            justify-content: center
        }
    }
    &__title{
        @include menu-page-title;
        @include tablet {
            margin-right: 25px;
        }
    }
    &__sections-wrapper{
        @include tablet{
            @include flexbox;
        }
    }
    //MENU _ STARTER
    &__starter{
        @extend %menu-layout;
        @include tablet{
            @include w-pad-lg-screen; 
        }
        @include desktop{
            width: 75%;
        }
    }
    &__subtitle{
        @extend %uppercase-underline; 
    }
    //MENU LABEL STYLE
    &__meal-label{
        overflow: hidden;
        @include flexbox($direction:row, $justify:space-between, $align:end);
        background-color: $white;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        width: 100%;
        &:hover{
            cursor: pointer;
            .menu__checkbox{
                @include side-slide($duration: 0.5s);
            }
        }
    }
    &__text-wrapper{
        width: 90%;
        padding: 10px 0 10px 10px;
        @extend %text-ellipsis;
    }
    &__meal-title{
        @include font-500($size:1.125rem);
        @extend %text-ellipsis;
    }
    &__meal-subtitle{
        font-size: 0.938rem;
        @extend %text-ellipsis;
    }
    &__meal-price{
        @include font-700($size:00.938rem);
        padding: 8px;
    }
    &__checkbox{
        @include flexbox;
        width: 59px;
        height: 48px;
        margin-right: -59px;
        background-color: $contrast-color;
        @include phone{
            height: 54px;
        }
        @include larger-phone{
            height: 60px;
        }
    }
    &__checkbox-icon{
        color: $white;
    }
    //MENU _ MAIN-COURSE
    &__main-course{
        @extend %menu-layout;
        @include tablet{
            @include w-pad-lg-screen;
        }
        @include desktop{
            width: 75%;
        }
    }
    //MENU _ DESSERT
    &__dessert{
       @extend %menu-layout;
       @include tablet{
            @include w-pad-lg-screen;
        }
        @include desktop{
            width: 75%;
        }
    }
    //ORDER BTN
    &__order-btn-wrapper{
        width: 100%;
        @include flexbox($direction:row);
    }
    &__order-btn{
        z-index: 1;
        margin: 20px;
    }
    @include tablet{
        width: 80%;
        @include margin-lf-auto;
    }
    @include desktop{
        width: 70%;
        @include max-width-contain(1050px);
        @include margin-lf-auto;
    }
}
